
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

local: &local
  host: localhost
  username: postgres
  password: password

development:
  <<: *default
  <<: *local
  database: readdit_development

test:
  <<: *default
  <<: *local
  database: readdit_test

production:
  <<: *default
  database: readdit_production
  username: readdit
  password: <%= ENV['READDIT_DATABASE_PASSWORD'] %>
